<div class="container-1">
    <mat-card>
        <mat-card-title style="margin-top: 10px">1 - Choose radius (km).</mat-card-title>
        <mat-card-subtitle>Choose wisely!</mat-card-subtitle>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 80vw">
            <mat-label>Radius</mat-label>
            <input matInput type="number" (input)="getRaio($event)" step="0.1">
        </mat-form-field>
        <mat-card-title>2 - Choose your destination.</mat-card-title>
        <mat-card-subtitle>Pin or address.</mat-card-subtitle>
        <div class="full align-center" id="map"></div>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 80vw; height: 8vh;">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. Av. Avenida, 111"></textarea>
        </mat-form-field>
        <mat-card-title style="margin-top: 10px">3 - Choose your ringtone.</mat-card-title>
        <mat-card-subtitle>Beaaautiful BRRRR!</mat-card-subtitle>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 80vw">
            <mat-label>Sound</mat-label>
            <mat-select>
                <mat-option value="one">Sound 1</mat-option>
                <mat-option value="two">Sound 2</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
</div>