<div class="container-1">
    <mat-card>
        <div class="form-group">
            <form #reqForm="ngForm">

                <h2>Insert the desired radius.</h2>
                <label for="radius">Radius</label>
                <input type="number" class="form-control" id="radius" min="0.1" max="50" step="0.1" required
                    [(ngModel)]="model.radius" name="radius">

                <h2>Insert your destination coordinates.</h2>
                <div class="full align-center" id="map"></div>
                <label for="lat">Latitude</label>
                <input type="number" class="form-control" id="lat" step="0.00001" required
                    [(ngModel)]="model.coords.lat" name="lat" placeholder="Latitude">
                <label for="lng">Longitude</label>
                <input type="number" class="form-control" id="lat" step="0.00001" required
                    [(ngModel)]="model.coords.lng" name="lng" placeholder="Longitude">

                <div class="input-group">
                    <h2>Select your alarm sound.</h2>
                    <label for="sound"></label>
                    <select class="form-control" name="sound" id="sound" required [(ngModel)]="model.sound"
                        style="width: 88vw;">
                        <option *ngFor="let sound of sounds" [value]="sound">{{sound}}</option>
                    </select>
                    <button type="button" class="btn" (click)="onPlaySound()"
                        [disabled]="model.sound=='None' || !(playback.ended || terminado)">Test</button>
                </div>
                <button type="submit" class="ui btn" style="display: block; margin: auto; margin-top: 20px;width: 80vw;"
                    [disabled]="reqForm.invalid" (click)="onSubmit()">Activate!</button>
            </form>
        </div>
    </mat-card>
</div>