input.ng-touched.ng-invalid{
  border-left: 5px solid rgb(255, 113, 113);
}

input.ng-touched.ng-valid{
  border-left: 5px solid rgb(19, 180, 5);
}

input,label,mat-form-field{
  display: block;
}

.sound-check{
  position: relative;
  flex: 1 1 auto;
}

.button {
  position: absolute;
  top: 0;
  z-index: 2;
  cursor: pointer;
  transform: translateX(2px);
  float: right;
}

.full {
    width: 80vw;
    height: 40vh;
}

.example-full-width{
    margin-top: 1px;
    height: 8vh;
}

.container-1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
  }

  .gosss{
    text-align: center;
  }